/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Arial, sans-serif; }
button {
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}
.btn {
  background: transparent;
}
li {
  list-style: none;
}
.done h4 {
  text-decoration: line-through;
}